package {{additional.package-elements}};

import java.nio.charset.*;
import java.util.*;
import java.util.stream.*;

import javax.annotation.processing.Generated;

import static net.zscript.javaclient.commandbuilder.Utils.*;

import net.zscript.javaclient.commandbuilder.commandnodes.*;
import net.zscript.javaclient.commandbuilder.defaultCommands.*;
import net.zscript.javaclient.commandbuilder.*;
import net.zscript.javaclient.commandbuilder.commandnodes.*;
import net.zscript.javareceiver.tokenizer.*;
import net.zscript.model.components.*;

/**
 * {{name}} Module: {{description}}.
 *
 * @version {{version}}
 */
@Generated(value = "JavaCommandBuilder.mustache",
           date = "{{timeNow}}",
           comments = "Zscript Java fluent Command/Response builder generator, using {{additional.context-source}}")
public class {{#upperCamel}}{{moduleName}}{{/upperCamel}}Module {
    public static final int    MODULE_ID = {{id}};
    public static final String MODULE_NAME = "{{name}}";
    public static final String VERSION = "{{version}}";
    public static final String DESCRIPTION = "{{description}}";

    private {{#upperCamel}}{{moduleName}}{{/upperCamel}}Module() {
        // prevent instantiation
    }

    {{! ============ COMMAND PROCESSING ============= }}

    /**
     * Defines the set of all commands defined in the '{{#upperCamel}}{{moduleName}}{{/upperCamel}}' module.
     */
    public static enum {{#upperCamel}}{{moduleName}}{{/upperCamel}}Commands {
{{#commands}}
        /** {{description}} */
        {{#upperCamel}}{{commandName}}{{/upperCamel}}({{command}}),
{{/commands}}
        ;

        private final byte command;

        private {{#upperCamel}}{{moduleName}}{{/upperCamel}}Commands(int command) {
            this.command = (byte) command;
        }

        /**
         * Returns the 4-bit command id code (associated with the 'Z' command field).
         *
         * @return command id (0x0-0xf)
         */
        public byte getCommand() {
            return command;
        }
    }

{{#commands}}
    /**
     * Creates a builder for the '{{name}}' command: {{description}}
     */
    public static {{#upperCamel}}{{name}}Command{{/upperCamel}}.Builder {{#lowerCamel}}{{name}}{{/lowerCamel}}Builder() {
        return {{#upperCamel}}{{name}}Command{{/upperCamel}}.builder();
    }

{{/commands}}
{{#commands}}
    public static class {{#upperCamel}}{{commandName}}Command{{/upperCamel}}
            extends ZscriptCommandNode<{{#upperCamel}}{{commandName}}Command{{/upperCamel}}.{{#upperCamel}}{{name}}{{/upperCamel}}Response> {
        public static final {{#upperCamel}}{{moduleName}}{{/upperCamel}}Commands CMD = {{#upperCamel}}{{moduleName}}{{/upperCamel}}Commands.{{#upperCamel}}{{commandName}}{{/upperCamel}};

        private {{#upperCamel}}{{commandName}}Command{{/upperCamel}}(Builder builder) {
            super(builder);
        }

        public static Builder builder() {
            return new Builder();
        }

        @Override
        public Class<{{#upperCamel}}{{name}}{{/upperCamel}}Response> getResponseType() {
            return {{#upperCamel}}{{name}}{{/upperCamel}}Response.class;
        }

        @Override
        protected boolean canFail() {
            return {{#status}}true|{{/status}}{{^status}}false|{{/status}}false;
        }

        @Override
        public {{#upperCamel}}{{name}}Response{{/upperCamel}} parseResponse(ZscriptExpression resp) {
            return new {{#upperCamel}}{{name}}Response{{/upperCamel}}(resp);
        }

        /**
         * {{description}}
         * <p>
         * Command semantics characterized as: {{operation}}.
         */
        public static class Builder extends ZscriptCommandBuilder<{{#upperCamel}}{{name}}{{/upperCamel}}Response> {

            private Builder() {
                setRequiredFields(new byte[] { {{#requestFields}}{{#required}}(byte) '{{key}}', {{/required}}{{/requestFields}} });
                setField(Zchars.Z_CMD, {{fullCommand}});
            }

            @Override
            public {{#upperCamel}}{{commandName}}Command{{/upperCamel}} build() {
                failIfInvalid();
                return new {{#upperCamel}}{{commandName}}Command{{/upperCamel}}(this);
            }


        // +++++++++++++ REQUEST FIELDS +++++++++++++
        {{#requestFields}}
            {{>requestField.mustache}}
        {{/requestFields}}
        }

    // +++++++++++++ RESPONSE FIELDS +++++++++++++

        public static class {{#upperCamel}}{{name}}Response{{/upperCamel}} extends ValidatingResponse {
            public {{#upperCamel}}{{name}}Response{{/upperCamel}}(ZscriptExpression response) {
                super(response, new byte[] { {{#responseFields}}{{#required}}(byte) '{{key}}', {{/required}}{{/responseFields}} });
            }
        {{#responseFields}}
            {{>responseField.mustache}}
        {{/responseFields}}

        }
    }

    {{/commands}}

    {{! ============ NOTIFICATION PROCESSING ============= }}

    /**
     * Defines the set of all notifications defined in the '{{#upperCamel}}{{moduleName}}{{/upperCamel}}' module.
     */
    public static enum {{#upperCamel}}{{moduleName}}{{/upperCamel}}Notifications {
        {{#notifications}}
        /** {{description}} */
        {{#upperCamel}}{{notificationName}}{{/upperCamel}}({{notification}}),
        {{/notifications}}
        ;

        private final byte notification;

        private {{#upperCamel}}{{moduleName}}{{/upperCamel}}Notifications(int notification) {
            this.notification = (byte) notification;
        }

        /**
         * Returns the 4-bit notification id code (associated with the '!' response sequence field).
         *
         * @return notification id (0x0-0xf)
         */
        public byte getNotification() {
            return notification;
        }
    }

    {{#notifications}}
    /** {{description}} */
    public static class {{#upperCamel}}{{notificationName}}{{/upperCamel}}Notification {
        public static final {{#upperCamel}}{{moduleName}}{{/upperCamel}}Notifications NTFN = {{#upperCamel}}{{moduleName}}{{/upperCamel}}Notifications.{{#upperCamel}}{{notificationName}}{{/upperCamel}};

        public {{#upperCamel}}{{notificationName}}{{/upperCamel}}Notification(String zscriptResponse) {
        }

        {{#sections}}
            {{#section}}
        /** {{description}} */
        public static class {{#upperCamel}}{{sectionName}}{{/upperCamel}}Section extends ValidatingResponse {
            public {{#upperCamel}}{{sectionName}}{{/upperCamel}}Section(final ZscriptExpression response) {
                super(response, new byte[] { {{#responseFields}}{{#required}}(byte) '{{key}}', {{/required}}{{/responseFields}} });
            }
                {{#responseFields}}
                    {{>responseField.mustache}}
                {{/responseFields}}
        }

            {{/section}}
        {{/sections}}
    }
    {{/notifications}}
}
