package net.zscript.javaclient.generatedCommands;

import net.zscript.javaclient.zcodeApi.ZscriptCommandBuilder;
import net.zscript.javaclient.zcodeApi.ZscriptResponse;
import net.zscript.javaclient.zcodeApi.ZscriptUnparsedCommandResponse;

public class {{CmdName}}CommandBuilder extends ZscriptCommandBuilder<{{CmdName}}CommandResponse> {
{{#requestParams}}
{{#allowedValues}}
    public static final int {{Name}}_{{valueName}} = {{index}}
{{/allowedValues}}
{{/requestParams}}
}