package net.zscript.javaclient.generatedCommands;

import net.zscript.javaclient.zscriptapi.ZscriptCommandBuilder;
import net.zscript.javaclient.zscriptapi.ZscriptResponse;
import net.zscript.javaclient.zscriptapi.ZscriptUnparsedCommandResponse;

@Generated
public class {{CmdName}}CommandBuilder extends ZscriptCommandBuilder<{{CmdName}}CommandResponse> {
{{#requestParams}}
{{#allowedValues}}
    public static final int {{Name}}_{{valueName}} = {{index}}
{{/allowedValues}}
{{/requestParams}}
}