package {{mapOfStuff.package-elements}};

import net.zscript.javaclient.commandbuilder.ZscriptCommandBuilder;
import net.zscript.javaclient.commandbuilder.ZscriptResponse;
import net.zscript.javaclient.commandbuilder.ZscriptUnparsedCommandResponse;
import net.zscript.javareceiver.tokenizer.Zchars;

/**
 * {{name}} Module: {{description}}.
 *
 * @version {{version}}
 */
public class {{name}}Module {
    public static final int MODULE_ID = {{id}};
    public static final String MODULE_NAME = "{{name}}";
    public static final String VERSION = "{{version}}";
    public static final String DESCRIPTION = "{{description}}";

    
{{#commands}}
    public static {{#upperCamel}}{{name}}CommandBuilder{{/upperCamel}} {{#lowerCamel}}{{name}}{{/lowerCamel}}() {
        return new {{#upperCamel}}{{name}}CommandBuilder{{/upperCamel}}();
    }

    /**
     * {{description}}
     */
    public static class {{#upperCamel}}{{name}}CommandBuilder{{/upperCamel}} extends ZscriptCommandBuilder<{{#upperCamel}}{{name}}CommandBuilder{{/upperCamel}}.{{#upperCamel}}{{name}}{{/upperCamel}}CommandResponse> {
    {{#requestParams}}
        {{#allowedValues}}
    public static final char {{name}}_{{valueName}} = {{index}};
        {{/allowedValues}}
    {{/requestParams}}

        public static final byte CMD_ID = {{command}};

        private {{#upperCamel}}{{name}}CommandBuilder{{/upperCamel}}() {
            setField(Zchars.Z_CMD, (byte) CMD_ID);
        }

{{#requestFields}}
// {{key}}
// {{name}}
// {{#typeDefinition}}
// {{#enumType}}enumType{{/enumType}}
// {{#bitsetType}}bitsetType{{/bitsetType}}
// {{#numberType}}numberType{{/numberType}}
// {{/typeDefinition}}


{{/requestFields}}

        @Override
        protected boolean commandCanFail() {
            return {{#status}}true|{{/status}}{{^status}}false|{{/status}}false;
        }

        @Override
        protected {{#upperCamel}}{{name}}CommandResponse{{/upperCamel}} parseResponse(ZscriptUnparsedCommandResponse resp) {
            return new {{#upperCamel}}{{name}}CommandResponse{{/upperCamel}}(resp);
        }

        public static class {{#upperCamel}}{{name}}CommandResponse{{/upperCamel}} implements ZscriptResponse {
            private final ZscriptUnparsedCommandResponse resp;

            public {{#upperCamel}}{{name}}CommandResponse{{/upperCamel}}(ZscriptUnparsedCommandResponse resp) {
                this.resp = resp;
            }
            
            
        }
    }
    
    
{{/commands}}
}
